<footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Ark Soft</span>
          </a>

          <div class="social-links d-flex mt-4">
       
            <a href="https://www.facebook.com/arksoftbilisim/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/ARKSOFT_bilisim/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/arksoft/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>  </h4>
          <ul>
             <li ><a href="https://www.arksoft.com.tr/software" >Ana Sayfa  </a></li>
            <li><a href="https://www.arksoft.com.tr/software/about">Hakkımızda</a></li>
           
          
            <li><a href="https://www.arksoft.com.tr/software/success-stories" >Başarı Hikayelerimiz</a></li>
            <li><a href="https://www.arksoft.com.tr/software/references" >Referanslarımız</a></li>
          
            <li><a href="https://www.arksoft.com.tr/software/contact">İletişim</a></li>
            <li ><a class="active" routerLink="blog">Blog</a></li>
          </ul>
        </div>

       

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>İletişim</h4>
          <p>Üniversiteler Mahallesi, Hacettepe Teknokent Safir Blokları E Blok Kat: 9, No:51, 06640, Çankaya/ANKARA</p>
        
          <p class="mt-4"><strong>Telefon:</strong> <span>+90 312 502 21 21</span></p>
          <p><strong>Email:</strong> <span>info@arksoft.com.tr</span></p>
        </div>

      </div>
    </div>

  

  </footer>