<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0 ml-5">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
       
        <img src="../../../assets/img/logo.jpeg"  style="width: 7rem;;">
   
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li ><a href="https://www.arksoft.com.tr/software" >Ana Sayfa  </a></li>
          <li><a href="https://www.arksoft.com.tr/software/about">Hakkımızda</a></li>
         
          <li class="dropdown has-dropdown"><a ><span>Ürünlerimiz</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="https://www.easy2patch.com/">Easy2Patch</a></li>
            
              <li><a href="https://arksspr.com/">ARKSSPR</a></li>
              <li><a href="https://www.sessionlimit.com/">Session Limit</a></li>
              <li><a href="https://www.device2mail.com/">Device2Mail</a></li>
            </ul>
          </li>
          <li><a href="https://www.arksoft.com.tr/software/success-stories" >Başarı Hikayelerimiz</a></li>
          <li><a href="https://www.arksoft.com.tr/software/references" >Referanslarımız</a></li>
          <li class="dropdown has-dropdown"><a ><span>Kaynaklar</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="https://dev.arksoft.com.tr/">Dev Blog</a></li>
            
              <li><a href="https://blog.arksoft.com.tr/">Sys Blog</a></li>
              <li><a href="https://docs.easy2patch.com/">Easy2Patch Docs</a></li>
              <li><a href="https://docs.arksspr.com/">ARKSSPR Docs</a></li>
              <li><a href="https://docs.sessionlimit.com/">Session Limit Docs</a></li>
            </ul>
          </li>
          <li><a href="https://www.arksoft.com.tr/software/contact">İletişim</a></li>
          <li ><a class="active" routerLink="blog" href="/blog">Blog</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

      <div class="mr-5" ></div>

    </div>
  </header>