<div class="row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Blog Tablosu</h3>
                <input class="search-bar float-right" placeholder="Blog Ara..." [(ngModel)]="filtertext" id="filtertext"
                    type="text" />
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2"
                                class="table table-bordered table-hover dataTable dtr-inline table-responsive"
                                aria-describedby="example2_info">
                                <thead>
                                    <tr>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Kategorisi
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Blog
                                            Başlığı
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                        rowspan="1" colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">Blog Kapak
                                        Metini
                                    </th>

                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Blog
                                            İçeriği
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Blog
                                            Faq
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Blog
                                            Yazarı
                                        </th>

                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Blog Url
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Blog
                                            Etiketleri
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Meta
                                            Başlığı
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Meta
                                            Açıklaması
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Blog
                                            Tarihi
                                        </th>
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example2"
                                            rowspan="1" colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">Blog Resmi
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="Engine version: activate to sort column ascending">
                                            Durum
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending">
                                            Güncelle</th>

                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-label="CSS grade: activate to sort column ascending">Sil
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of blog | blog: filtertext">

                                        <td>{{item.categoryName}}</td>
                                        <td>{{item.blogTitle}}</td>
                                        <td>{{item.blogText}}</td>
                                        <td>{{item.blogContent}}</td>
                                        <td>{{item.blogFaq}}</td>
                                        <td>{{item.blogWriter}}</td>
                                        <td>{{item.blogUrl}}</td>
                                        <td>{{item.blogTag}}</td>
                                        <td>{{item.metaTitle}}</td>
                                        <td>{{item.metaDescription}}</td>

                                        <td>{{item.blogDate |
                                            date:'dd.MM.yyyy'}}</td>
                                        <td> <img [src]="createImgPath(item.blogImage)" alt="product"
                                                style="width: 75px; height: 75px;"></td>


                                        <td><a *ngIf="!item.blogStatus" (click)="active(item);" href="admin/listBlog"
                                                class="btn btn-success">Aktif Et</a> <a *ngIf="item.blogStatus"
                                                (click)="passive(item);" href="admin/listBlog"
                                                class="btn btn-warning">Pasif Et</a></td>
                                        <td><a routerLink="/admin/updateBlog/blog/{{item.blogId}}" href="/admin/updateBlog/blog/{{item.blogId}}"
                                                class="btn btn-primary">Güncelle</a></td>
                                        <td><a (click)="deleteBox(item);" class="btn btn-danger">Sil</a></td>

                                    </tr>

                                </tbody>

                            </table>
                        
                         
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                 
                                  <li *ngFor="let item of sayfalar"  class="page-item"><a class="page-link"  href="/admin/listBlog?page={{item+1}}" [class.active]="currentPage === item+1">{{item+1}}</a></li>
                              
                                </ul>
                              </nav>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->


        <!-- /.card -->
    </div>
</div>