

<div class="blog-page mt-5">
<section id="blog" class="blog">

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 posts-list">

        <div *ngFor="let item of blogs" class="col-xl-4 col-lg-6">
          <article>

            <div class="post-img">
              <img routerLink="/blog/{{item.blogUrl}}" href="/blog/{{item.blogUrl}}" [src]="createImgPath(item.blogImage)" alt="product" class="img-fluid" >
            </div>

        {{item.categoryName}}

            <h2 class="title">
              <a routerLink="/blog/{{item.blogUrl}}" href="/blog/{{item.blogUrl}}" >{{item.blogTitle}}</a>
            </h2>
            <p routerLink="/blog/{{item.blogUrl}}" href="/blog/{{item.blogUrl}}" >{{item.blogText}}</p>

            <div class="d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author">{{item.blogWriter}}</p>
                <p class="post-date">
                  <time >{{item.blogDate |
                    date:'dd.MM.yyyy'}}</time>
                </p>
              </div>
            </div>

          </article>
        </div><!-- End post list item -->


      </div><!-- End blog posts list -->

      <div class="pagination d-flex justify-content-center">
        <ul *ngIf="!isTrue" >
          <li *ngFor="let item of sayfalar" class="active"> <a href="/blog?page={{item+1}}" [class.active]="currentPage === item+1">{{item+1}}</a></li>
        </ul>
        <ul *ngIf="isTrue" >
          <li *ngFor="let item of sayfalar" class="active"> <a href="/blog/{{categoryId}}" [class.active]="currentPage === item+1">{{item+1}}</a></li>
        </ul>
      </div><!-- End pagination -->

    </div>

  </section>
</div>
